main {
    font-family: 'Fredoka';
    display: flex;
    justify-content: center;
}

.invites-area {
    width: 80%;
    margin: 4%;
}

/* INVITE TYPE MENU */
.invite-type-menu-select {
    /* background-color: red; */
    width: 30%;
    /* height: ; */
    display: flex;
    gap: 10px   ;
    padding: 10px 0;
}

.invite-type-menu-select span {
    background-color: #23c923;
    padding: 8px;
    cursor: pointer;
}

/* --------------- */


.invites-menu-select, .tournament-invites-menu-select {
    background-color: #e0e0e0cf;
    display: flex;
    justify-content: space-between;
    gap: 5%;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 8px;
    padding: 5px
}

.invites-menu-select span, .tournament-invites-menu-select span {
    width: 50%;
    text-align: center;
    padding: 10px;
}

.invites-menu-select span.active, .tournament-invites-menu-select span.active {
    background-color: #fff;
}

/* DEFAULT */

/* --- main tabs --- */
.general-invites, .tournament-invites {
    display: none;
}

.invites-area > .m-active{
    display: block;
}

.invite-type-menu-select span:not(.active) {
  background: #f0f0f0;
  color: #333;
}

.invite-type-menu-select span.active {
  background: #000;  /* Azul */
  color: white;
  font-weight: bold;
}

/* --- sub tabs --- */
.all-general-invites > div, .all-tournament-invites > div{
    display: none;
}

.all-general-invites > div.active, .all-tournament-invites > div.active {
    display: flex !important;
    flex-direction: column;
    gap: 10px;
}


.sent-invite, .received-invite{
    border: 1px solid #e0e0e0cf;
}

.sent-invite-content, .received-invite-content {
    width: calc(100% - 40px);
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.sent-invite-data, .received-invite-data {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sent-invite-data .sent-sentTo, .received-invite-data .received-receivedTo {  
    font-weight: 500;
    font-size: 1.8em
}

.sent-invite-data .sent-sentAt, .received-invite-data .received-receivedAt {
    font-size: 1em;
    color: #00000058;
}

.sent-invite-data .sent-target, .received-invite-data .received-target {
    font-size: 1.3em;
}

/* STATUS */
.sent-invite-status span, .received-invite-status span {
    background-color: #56b9ff;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.8em;
}

/* ACTION */
.sent-invite-actions, .received-invite-actions {
    background-color: #ebeaeacf;
    padding: 20px;
}

.sent-invite-actions button, .received-invite-actions button {
    background-color: #d91f1f;
    color: #fff;
    border: none;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
}

.sent-invite-actions button:hover, .received-reject-invite:hover {
    background-color: #d91f1f97;
}

.received-accept-invite {
    background-color: #23c923 !important;
}

.received-accept-invite:hover {
    background-color: #23c923ac !important;
}

/* ----- Tournament invites  ----- */
.received-tournament-invite, .sent-tournament-invite {
    background-color: #ebeaeacf;
    width: calc(50% - 40px);
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.received-tournament-invite h3, .sent-tournament-invite h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.sent-tournament-invite-date, .received-tournament-invite-date {
    color: #1f1f1f76;
}

.sent-tournament-invite-data, .received-tournament-invite-data {
    color: #1f1f1f76;
}

.sent-tournament-invite-data a, .received-tournament-invite-data a {
    color: #000;
}
.sent-tournament-invite-data a:hover, .received-tournament-invite-data a:hover {
    text-decoration: none;
}

.tournament-invite-details-btn {
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
}
