footer {
    height: 25vh;
    font-family: 'Fredoka';
}

/* UP */
.footer-up {
    background-color: #bbbbbb;
    color: #000;
    height: 60%;
    padding: 0 20%;
    display: flex;
    align-items: center;
}

.footer-up > .footer-logo {
    font-size: 22pt;
    font-weight: 600;
}

.footer-up > .footer-items {
    display: flex;
    gap: 50px;
    margin: 0 auto;
    justify-self: end;
}

.footer-up > .footer-items ul {
    list-style: none;
}

.footer-up > .footer-items a {
    color: #000;
    text-decoration: none;
}

.footer-up > .footer-items a:hover {
    text-decoration: underline;
}

.footer-bottom {
    background-color: #dcdcdc;
    height: calc(40%);
    padding: 0 20%;
    display: flex;
}

.footer-bottom > .footer-social-links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
}

.footer-bottom img {
    width: 40px;
}
