@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
}

header {
    width: calc(100vw - 30%);
    height: calc(10vh - 50px);
    padding: 25px 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Fredoka";
    border-bottom: 1px solid #000;
}

header ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

header ul>a {
    text-decoration: none;
    color: #000;
}

header ul>a:hover {
    text-decoration: underline;
}

#authTrue {
    /* background-color: red; */
    border-radius: 8px;
    display: none;
    position: relative;
    border: 1px solid #000;
    padding: 10px;
    cursor: pointer;
}

.profileIdt {
    
}

.profileIdt img {
    width: 10px;
}

.auth-options-card {
    background-color: #d6d6d6;
    position: absolute;
    top: 80%;
    display: none;
    flex-direction: column;
    padding: 5px;
    border: 1px solid #000;
}

.auth-options-card a {
    color: #000;
    text-decoration: none;
}

.auth-options-card a:hover {
    text-decoration: underline;
}

